<form [formGroup]="registerFormData">
  <div class="regForm">
    <h1>Regisztáció</h1>
    <hr />
    <h5>Felhasználói adatok</h5>
    <div class="name">
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input
          matInput
          placeholder="Vezetéknév"
          formControlName="lastname"
          required
        />
        @if (!registerFormData.get('lastname')?.dirty){
        <mat-error>Hiányzó vezetéknév!</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input
          matInput
          placeholder="Keresztnév"
          formControlName="firstname"
          required
        />
        @if (!registerFormData.get('firstname')?.dirty){
        <mat-error>Hiányzó keresztnév!</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Telefonszám</mat-label>
      <input
        matInput
        placeholder="+36309999999"
        formControlName="phonenumber"
        required
      />
      @if (!registerFormData.get('phonenumber')?.dirty){
      <mat-error>Hiányzó telefonszám!</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email cím</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      @if (!registerFormData.get('email')?.dirty){
      <mat-error>Hibás Email!</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (!registerFormData.get('password')?.dirty) {
      <mat-error>Hiányzó jelszó!</mat-error>
      }
    </mat-form-field>
    <hr />

    <h5>Milyen fókot szeretne regisztrálni?</h5>
    <mat-radio-group
      formControlName="role"
      aria-label="Select an option"
      (change)="onRoleChange($event)"
    >
      <mat-radio-button value="1">Admin</mat-radio-button>
      <mat-radio-button value="2">Oktató</mat-radio-button>
      <mat-radio-button value="3">Diák</mat-radio-button>
    </mat-radio-group>
    <hr />

    <!--Admin role-->
    <div class="role" *ngIf="selectedRole === '1'">
      <h6>Adja meg az iskolája nevét</h6>
      <mat-form-field>
        <mat-label>Iskola neve</mat-label>
        <input
          matInput
          placeholder="Iskola"
          formControlName="schoolname"
          required
        />
        @if (!registerFormData.get('schoolname')?.dirty){
        <mat-error>Hiányzó iskola!</mat-error>
        }
      </mat-form-field>
    </div>

    <!--Teacher role-->
    <div class="role" *ngIf="selectedRole === '2'">
      <h6>Adja meg az iskolája nevét</h6>
      <mat-form-field>
        <mat-label>Iskola</mat-label>
        <mat-select formControlName="schoolname">
          <mat-option *ngFor="let school of schools" [value]="school.name">{{
            school.name
          }}</mat-option>
        </mat-select>
        @if (!registerFormData.get('schoolname')?.valid){
        <mat-error>Hiányzó iskola!</mat-error>
        }
      </mat-form-field>
    </div>

    <!--Student role-->
    <div class="role" *ngIf="selectedRole === '3'">
      <h6>Adja meg az oktatója nevét</h6>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select formControlName="teacher">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{
            teacher.lastname + " " + teacher.firstname
          }}</mat-option>
        </mat-select>
        @if (!registerFormData.get('teacher')?.valid){
        <mat-error>Hiányzó oktató!</mat-error>
        }
      </mat-form-field>
    </div>

    <button
      id="registarton-btn"
      type="button"
      class="btn btn-success"
      (click)="onSubmit()"
    >
      Regisztáció
    </button>
    <hr />
    <button
      id="logIn-btn"
      type="button"
      class="btn btn-danger"
      (click)="navigateToLogin()"
    >
      Vissza
    </button>
  </div>
</form>
